h1 {
    text-align: center;
    font-size: 96px;
}

.ItemListContainer {
    display: flex;
    flex-flow: row wrap;
    gap: 100px 100px;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;
}

.ItemContainer {
    justify-content: center;
    background-color: #e2e2e2;
    border-radius: 20px;
    width: 400px;
    height: 500px;
    margin: 10px;
}

.ItemContainerImg {
    display: flex;
    width: 300px;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

#ItemDetailAction {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#ItemDetailAction:hover{
    background-color:#32ea48;
    color:#e2e2e2;
}